.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  position: relative;
  background-color: rgb(0, 0, 0);
  min-width: 340px;
}



.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  background-color: var(--background-primary);
  position: relative;
  min-width: 340px;

}